/* body 태그 전체에 적용할 배경색 지정
 - 배경색: 노랑색
 - 폰트 스타일: Arial, sans-serif */
body {
  /* 배경색 */
  background-color: yellow;

  /* 폰트 스타일 */
  font-style: Arial, sans-serif;
}

/* 클래스 속성이 container인 태그에 대한 지정
    - 안쪽 여백: 20px
    - 배경색: 빨강색
    - 사각형 모서리 라운드: 8px
    - 최대 전체 너비: 600px
    - 외부 여백: 40px
    - 그림자 효과: 마음대로 */
.container {
  /* 안쪽 여백 */
  padding: 20px;

  /* 배경색 */
  background-color: red;

  /* 사각형 모서리 라운드 */
  border-radius: 8px;

  /* 최대 전체 너비 */
  max-width: 600px;

  /* 외부 여백 */
  margin: 40px;

  /* 그림자 효과 
      - 첫번째 값: 현재 div태그의 box를 기준으로
                   그림자 수평이동(양수값은 오른쪽으로, 음수값은 왼쪽으로 그림자 이동됨)
      - 두번째 값: 그림자 수직이동(양수값은 아래쪽으로, 음수값은 위쪽으로 그림자 이동됨)
      - 세번째 값: 번짐 정도 (값이 클수록 번짐이 넓어지면서 흐려짐)
      - 네번째 값: 그림자 색상
  */
  box-shadow: 5px 5px 15px  grey, 10px 10px 30px  black;
}